.container{
    
    margin-top:50px;
}

#quizPart{
    text-align: center;
    padding-top: 50px;
}

#mainText{
    font-size: 20px;
    padding:50px 15px 25px 15px;
}
#startbtn{
    background-color: #7419A8;
    border-radius: 10px;
    color:white;
    font-size: 15px;
    padding:5px 15px 5px 15px;
}
#tryAgainBtn{
    background-color: #7419A8;
    border-radius: 10px;
    color:white;
    font-size: 15px;
    padding:5px 15px 5px 15px;
   
}
#tryAgain{
   display: none;
}


#quizContainer{
    display: none;
    text-align: center;
    margin-top:50px;
    padding-top: 50px;
    margin: auto;

}


#answerOutput{
    text-align: center;
    font-size: 30px;

}
#lastPage{
    display: none;
    text-align: center;
    margin-top:50px;
    padding-top: 50px;
    margin: auto;
}

.choiceItem{
    background-color: #7419A8;
    color: white;
    font-size: 20px;
    margin: 3px;
    border-radius: 20px;
    cursor: pointer;
    
    
}
 #quizContainer{
     font-size: 30px;
 }

 #lastPage{
     font-size: 40px;
 }